---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
// import FormattedDate from '../../components/FormattedDate.astro';
// import Nav from "../../components/Nav.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<meta charset="UTF-8" />
<Header />

<main class="font-dm-sans w-screen pl-16 pr-16 flex justify-center items-center">
  <section class="flex flex-wrap justify-center items-center gap-5 pt-36">
    <!-- ONE BUTTON!!!!!!!!!!!!! -->

    {
      posts.map((post) => (
        <div class="relative group">
                           {" "}
          <a href={`/blog/${post.id}/`} class="block text-center">
                               {" "}
            <li class="list-none">
                                   {" "}
              <div class="da relative flex  flex-col justify-center overflow-hidden">
                <div class="" />
                <div class="group relative m-0 flex h-72 w-96 rounded-xl  ring-gray-900/5 sm:mx-auto sm:max-w-lg">
                  <div class="z-10 h-full w-full overflow-hidden rounded-xl border opacity-80 transition duration-300 ease-in-out group-hover:opacity-100">
                    <img
                      src={post.data.heroImage}
                      class="animate-fade-in block h-full w-full scale-100 transform object-cover object-center opacity-100 transition duration-300 group-hover:scale-110"
                      alt=""
                    />
                  </div>
                  <div class="absolute bottom-0 z-20 m-0 pb-4 ps-4 transition duration-300 ease-in-out group-hover:-translate-y-1 group-hover:translate-x-3 group-hover:scale-110">
                    <h1 class="text-2xl font-bold text-white">
                      {post.data.title}
                    </h1>
                  </div>
                </div>
              </div>
                                 {" "}
            </li>
                                                                        {" "}
            <h4 class="title text-4xl font-bold text-white">
              {post.data.title}
            </h4>
                             {" "}
          </a>
                         {" "}
        </div>
      ))
    }
  </section>
</main>
