---
// import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
---

<meta charset="UTF-8" />
<head>
  <script
    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    defer></script>
    <style>
      @keyframes slideUp {
        0% {
          transform: translateY(100%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
  
      .animate-slide-up {
        animation: slideUp 1s ease-out forwards;
      }
    </style>
    
</head>
<Header />

<main class="flex justify-center items-center">
  
  <div class="flex flex-col">
    <section class="w-screen h-screen flex flex-row justify-center items-center">
      
      <div class="flex flex-row items-center">
        <lottie-player
        src="/aboutme-intro.json"
        class="w-96 h-96"
        background="transparent"
        speed="1"
        autoplay
        >
      </lottie-player>

      <div class="relative">
        <img src="/aboutme-pic.png" class=" w-96 scale-110  z-10 relative">
      </div>
      <img 
      src="starpink.png" 
      alt="Spinning Image"
      class="absolute lg:right-60 xl:right-96 lg:bottom-36 xl:bottom-72 h-52 w-52 animate-spin-slow z-0"
    >
      </div>
  
    </section>
    
    
    <!-- MMI!!!!!!!!!!!!!!!!!!!!!!! -->
    <section class=" w-screen bg-pink justify-center items-center p-36">
      <div class="flex flex-row items-center justify-between">
        <div class="w-2/3 text-3xl font-dm-sans font-bold flex flex-col text-white gap-5">
          <p >Je suis en 3ème année du BUT MMI à l’IUT du Limousin. </p>
          <p>Chaque jour, j'utilise les logiciels de la suite Adobe pour créer des affiches, des montages vidéo, des identités visuelles, et bien plus encore.</p>            
        </div>
        <lottie-player
        src="/aboutme-mmi.json"
        class="scale-75"
        background="transparent animate-slide-up"
        speed="1"
        loop
        autoplay
        >
      </lottie-player>

      </div>
      
    </section>




    <!-- CE QUE J'AIME!!!!!!!!!!!!!!!!!!!!!!! -->
    <section class=" w-screen bg-green justify-center items-center p-36">
      <div class="flex flex-row items-center justify-between">
        <div class="w-2/3  font-dm-sans font-bold flex flex-col text-white gap-5">
          <p class="text-6xl">Dans mon temps libre j'aime... </p>
              
        </div>
        <!-- <lottie-player
        src="/aboutme-mmi.json"
        class="scale-75"
        background="transparent"
        speed="1"
        loop
        autoplay
        >
      </lottie-player> -->

    </div>
<div class="flex flex-col gap-5">
  <p class="uppercase font-dm-sans text-white font-bold text-xl">j'écoute beaucoup de musiques</p>        
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5iwUwADk4uQUvgMF6PlTRl?utm_source=generator" width="50%" height="150"  allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    
</div>
    
    </section>


  </div>  

</main>