---
// import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
---

<meta charset="UTF-8" />
<Header />

<div
  class="max-w-4xl mx-auto flex flex-col md:flex-row items-center md:items-start gap-8 pt-16 pl-44 absolute font-dm-sans"
>
  <!-- Text -->
  <div class="w-max">
    <h1
      class="animate-typing overflow-hidden whitespace-nowrap border-r-4 text-9xl text-pink font-bold"
    >
      Hello!
    </h1>
  </div>
</div>

<div class="flex justify-center items-center align-middle h-screen">

  </div>







  <div class="bg-pink p-40 text-white font-dm-sans flex flex-col gap-10">

    <section class="">
      <p class="mt-4 text-xl font-bold">
        Je m’appelle Aysha Braybrooke.
      </p>
      <p class="mt-4 ">
        J'ai 20 ans et je suis en 3e année de BUT Métiers du Multimédia et de l'Internet (MMI) à Limoges, dans le parcours Création Numérique.
      </p>
      <p class="mt-4">
      Dans mon temps libre, je passe beaucoup de temps a réaliser des dessins numériques! 
      </p>
      <a
        href="
                /Aysha_Braybrooke_CV.pdf"
        class="mt-4 inline-block underline "
        >téléchargez mon CV</a
      >

      
    </section>
  
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0VaeksJaXy5R1nvcTMh3Xk?utm_source=generator&theme=0" width="100%" height="152" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>


