---
// import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro"

---
<meta charset="UTF-8" />
<Header></Header>

<div>
</div>




<section class="h-screen flex justify-center align-middle ">

  <!-- NAV !!!!!!!!!!!!!!!!!!!!! -->
  <nav
  class="font-dm-sans mt-8 items-center align-middle p-52 absolute top-1/2 left-1/4 -translate-x-1/2 -translate-y-1/2 z-50"
>
  <ul class="flex flex-col gap-4 items-center">
    <li>
      <button
        class="w-64 inline-flex items-center justify-center p-0.5 mb-2 me-2 text-lg text-gray-900 rounded-full group bg-gradient-to-br from-orange to-pink hover:text-white"
      >
        <span
          class="w-64 px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-full group-hover:bg-opacity-0"
        >
          <a href="/">Accueil</a>
        </span>
      </button>
    </li>

    <li>
      <button
        class="w-64 inline-flex items-center justify-center p-0.5 mb-2 me-2 text-lg text-gray-900 rounded-full group bg-gradient-to-br from-orange to-pink hover:text-white"
      >
        <span
          class="w-64 px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-full group-hover:bg-opacity-0"
        >
          <a href="/blog">Mes projets</a>
        </span>
      </button>
    </li>

    <li>
      <button
        class="w-64 inline-flex items-center justify-center p-0.5 mb-2 me-2 text-lg text-gray-900 rounded-full group bg-gradient-to-br from-orange to-pink hover:text-white"
      >
        <span
          class="w-64 px-5 py-2.5 transition-all ease-in duration-75 bg-white rounded-full group-hover:bg-opacity-0"
        >
          <a href="/about">A propos de moi</a>
        </span>
      </button>
    </li>
  </ul>
</nav>



<div class="flex flex-col w-1/2 lg:absolute lg:left-2/4 lg:top-40 ">

  <div class="flex flex-wrap gap-4 justify-center align-middle items-center text-white">
    <!-- Email Card -->
    <div
      class="h-36 w-60 rounded-lg p-4 text-center bg-gradient-to-br from-orange to-pink flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
    >
      <img
        src="/logo_mail.png"
        class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
      />
      <p class="border-t-2 border-white pt-2">aysha.braybr00ke@gmail.com</p>
    </div>

    <!-- LinkedIn Card -->
    <a href="https://www.linkedin.com/in/aysha-braybrooke/" target="_blank">
      <div
        class="h-36 w-60 bg-gradient-to-br from-orange to-pink rounded-lg p-4 text-center flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
      >
        <img
          src="/logo_linkedin.png"
          class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
        />
        <p class="border-t-2 border-white pt-2">ayshabraybrooke</p>
      </div>
    </a>

    <!-- Behance Card -->
    <a href="https://www.behance.net/ayshabraybrooke" target="_blank">
      <div
        class="h-36 w-60 bg-gradient-to-br from-orange to-pink rounded-lg p-4 text-center flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
      >
        <img
          src="/logo_behance.png"
          class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
        />
        <p class="border-t-2 border-white pt-2">ayshabraybrooke</p>
      </div>
    </a>

    <!-- TikTok Card -->
    <a href="https://www.tiktok.com/@beebpoup" target="_blank">
      <div
        class="h-36 w-60 bg-gradient-to-br from-orange to-pink rounded-lg p-4 text-center flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
      >
        <img
          src="/logo_tiktok.png"
          class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
        />
        <p class="border-t-2 border-white pt-2">@beebpoup</p>
      </div>
    </a>
  </div>
</div>
  </section>