---
import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro"

---
<Header></Header>

<div>
</div>




<section class="h-screen flex justify-center align-middle ">
  <Nav></Nav>
    <h2 class="text-3xl font-bold text-center mb-8">Contactez-moi!</h2>
    <div class="flex flex-wrap gap-4 justify-center align-middle items-center text-white">
      <!-- Email Card -->
      <div
        class="h-52 w-64 rounded-lg p-4 text-center bg-gradient-to-br from-orange to-pink flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
      >
        <img
          src="/logo_mail.png"
          class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
        />
        <p class="border-t-2 border-white pt-2">aysha.braybr00ke@gmail.com</p>
      </div>

      <!-- LinkedIn Card -->
      <a href="https://www.linkedin.com/in/aysha-braybrooke/" target="_blank">
        <div
          class="h-52 w-64 bg-gradient-to-br from-orange to-pink rounded-lg p-4 text-center flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
        >
          <img
            src="/logo_linkedin.png"
            class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
          />
          <p class="border-t-2 border-white pt-2">ayshabraybrooke</p>
        </div>
      </a>

      <!-- Behance Card -->
      <a href="https://www.behance.net/ayshabraybrooke" target="_blank">
        <div
          class="h-52 w-64 bg-gradient-to-br from-orange to-pink rounded-lg p-4 text-center flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
        >
          <img
            src="/logo_behance.png"
            class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
          />
          <p class="border-t-2 border-white pt-2">ayshabraybrooke</p>
        </div>
      </a>

      <!-- TikTok Card -->
      <a href="https://www.tiktok.com/@beebpoup" target="_blank">
        <div
          class="h-52 w-64 bg-gradient-to-br from-orange to-pink rounded-lg p-4 text-center flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
        >
          <img
            src="/logo_tiktok.png"
            class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
          />
          <p class="border-t-2 border-white pt-2">@beebpoup</p>
        </div>
      </a>
    </div>
  </section>