---
// import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro"

---
<meta charset="UTF-8" />
<Header></Header>

<main class="font-dm-sans">
  <section class="flex justify-center items-center h-screen w-screen">
    <div class="lg:w-1/2 w-4/5 flex flex-wrap gap-6 justify-center align-middle items-center text-white">
          <!-- Email Card -->
          <div
            class="h-44 w-72 rounded-lg p-4 text-center bg-green flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
          >
            <img
              src="/logo_mail.png"
              class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
            />
            <p class="border-t-2 border-white pt-2">aysha.braybr00ke@gmail.com</p>
          </div>
      
          <!-- LinkedIn Card -->
          <a href="https://www.linkedin.com/in/aysha-braybrooke/" target="_blank">
            <div
              class="h-44 w-72 bg-green rounded-lg p-4 text-center flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
            >
              <img
                src="/logo_linkedin.png"
                class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
              />
              <p class="border-t-2 border-white pt-2">ayshabraybrooke</p>
            </div>
          </a>
      
          <!-- Behance Card -->
          <a href="https://www.behance.net/ayshabraybrooke" target="_blank">
            <div
              class="h-44 w-72 bg-green rounded-lg p-4 text-center flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
            >
              <img
                src="/logo_behance.png"
                class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
              />
              <p class="border-t-2 border-white pt-2">ayshabraybrooke</p>
            </div>
          </a>
      
          <!-- TikTok Card -->
          <a href="https://www.tiktok.com/@beebpoup" target="_blank">
            <div
              class="h-44 w-72 bg-green rounded-lg p-4 text-center flex flex-col justify-between group transition-transform duration-300 ease-in-out hover:scale-105"
            >
              <img
                src="/logo_tiktok.png"
                class="w-8 transition-transform duration-300 ease-in-out group-hover:scale-150"
              />
              <p class="border-t-2 border-white pt-2">@beebpoup</p>
            </div>
          </a>
        </div>
  </section>
</main>