---
// import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script
    src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    defer></script>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
    rel="stylesheet"
  />

  <style>
    @keyframes slideUp {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .animate-slide-up {
      animation: slideUp 1s ease-out forwards;
    }
  </style>
</head>
<body class="font-dm-sans">
  <Header />

  <main class="h-screen w-screen flex items-center justify-center font-dm-sans">

    <lottie-player
      src="/portfoliointro.json"
      class="w-96 h-w-96 mx-auto scale-150 lg:scale-95"
      background="transparent"
      speed="1"
      autoplay
    >
    </lottie-player>

    <img 
    src="star8green_big.png" 
    alt="Spinning Image"
    class="absolute -left-10 -bottom-16 w-96 h-96 animate-spin-slow"
  >


  <lottie-player
      src="/kitty-blink.json"
      class="absolute w-96 h-w-96 mx-auto lg:scale-75 left-0 -bottom-5 lg:-right-96 lg:-bottom-48 z-0"
      background="transparent"
      speed="1"
      loop
      autoplay
    >
    </lottie-player>

  </main>
</body>
