---
// import Nav from "../components/Nav.astro";
import Header from "../components/Header.astro"

---

<div>
    <Header></Header>
</div>


<section id="projects" class="py-16">
    <h2 class="text-3xl font-bold text-center mb-8">Mes Projets</h2>
    <div class="flex gap-5 justify-center">
      <button class="dot w-64 inline-flex items-center justify-center p-0.5 mb-2 me-2 text-lg text-gray-900 rounded-full group bg-gradient-to-br from-orange to-pink hover:text-white dark:text-white" data-slide="0"
      >
      <span class="w-64 px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-full group-hover:bg-opacity-0">
    Dessins graphiques</button>



      <button class="dot w-64 inline-flex items-center justify-center p-0.5 mb-2 me-2 text-lg text-gray-900 rounded-full group bg-gradient-to-br from-orange to-pink hover:text-white dark:text-white" data-slide="1"
      > 
      <span class="w-64 px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-full group-hover:bg-opacity-0"> Motion Design</button>


      <button class="dot w-64 inline-flex items-center justify-center p-0.5 mb-2 me-2 text-lg text-gray-900 rounded-full group bg-gradient-to-br from-orange to-pink hover:text-white dark:text-white" data-slide="2"
      > 
      <span class="w-64 px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-full group-hover:bg-opacity-0"> UI/UX Design</button>

  
      <button class="dot w-64 inline-flex items-center justify-center p-0.5 mb-2 me-2 text-lg text-gray-900 rounded-full group bg-gradient-to-br from-orange to-pink hover:text-white dark:text-white" data-slide="3"
      > 
      <span class="w-64 px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-full group-hover:bg-opacity-0"> Identité Visuelle</button>


      <button class="dot w-64 inline-flex items-center justify-center p-0.5 mb-2 me-2 text-lg text-gray-900 rounded-full group bg-gradient-to-br from-orange to-pink hover:text-white dark:text-white" data-slide="4"
      > 
      <span class="w-64 px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-full group-hover:bg-opacity-0"> Réseaux Sociaux</button>

      <button class="dot w-64 inline-flex items-center justify-center p-0.5 mb-2 me-2 text-lg text-gray-900 rounded-full group bg-gradient-to-br from-orange to-pink hover:text-white dark:text-white" data-slide="4"
      > 
      <span class="w-64 px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-full group-hover:bg-opacity-0"> Jeu en Ligne</button>

      
      

    </div>

