---

---

<header class=" absolute">
  <div class="flex justify-between font-dm-sans text-gray-800 text-lg font-bold px-8">
    <h1>Aysha Braybrooke</h1>
    <p>Design Graphique • Illustratrice</p>
  </div>
  </header>

