---

---

<style>
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  /* Apply custom animation */
  .animate-slide-down {
    animation: slideDown 1s ease-out forwards;
  }
</style>

<header class="absolute w-screen z-10">
  <div
    class="flex gap-5 justify-center items-center ml-52 mr-52 mt-12 h-32 lg:h-20 lg:mt-3 rounded-full bg-pink font-dm-sans font-bold animate-slide-down"
  >
    <a href="/about">
      <button class="bg-white hover:bg-green hover:text-white rounded-full h-16 lg:h-14 w-52">ABOUT ME</button>
    </a>

    <a href="/about">
      <button class="bg-white rounded-full h-16 w-52">MY PROJECTS</button>
    </a>

    <a href="/about">
      <button class="bg-white rounded-full h-16 w-52">CONTACT ME</button>
    </a>
  </div>
</header>
